body {
  background: rgba(240, 240, 240, 1);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: rgba(240, 240, 240, 1);
  height: 100%;
  width: 100%;
}

.map {
  background: rgba(240, 240, 240, 1);
  height: 100%;
  width: 100%;
}

.pagetitle {
  bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

.pagetitle > div {
  max-width: calc( 100% - 40px );
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
}

.easy-button-button .button-state {
  display: initial !important;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

tr {
  border: 1px solid #cccccc;
}

th {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 3px 7px;
}

td {
  border: 1px solid #cccccc;
  padding: 3px 7px;
}

table.no-line-break tr td {
  white-space: nowrap;
}