body {
  background: rgba(240, 240, 240, 1);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: rgba(240, 240, 240, 1);
  height: 100%;
  width: 100%;
}

.map {
  background: rgba(240, 240, 240, 1);
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  height: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}