.fullscreen-icon { background-image: url(../images/icon-fullscreen.png); }
.leaflet-retina .fullscreen-icon { background-image: url(../images/icon-fullscreen-2x.png); background-size: 26px 26px; }
.leaflet-control-layers-toggle { background-image: url(../images/layers.png); height: 36px; width: 36px;}
.leaflet-retina .leaflet-control-layers-toggle { background-image: url(../images/layers-2x.png); background-size: 26px 26px;}
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

body {
	margin: 0;
	padding: 0;
}
html, body, .map {
	height: 100%;
	width: 100%;
}

th, td {
	padding: 0.5em;
}
tr:first-child {
	font-size: larger;
	text-align: center;
}
tr:first-child th {
	border-bottom: 1px solid black;
}
.leaflet-control a:link, .leaflet-control a:visited {
	color: black;
}
.leaflet-popup-content-wrapper {
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
}
.leaflet-control-container .leaflet-control-attribution {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	border: 2px solid #00f;
	border-radius: 0.5em;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0.2em;
	padding: 0.2em 0.5em;
}

.leaflet-control a {
	font-weight: bold;
}
.leaflet-control a:link {
	color: #00f;
}
.leaflet-control a:visited {
	color: #00f;
}
.leaflet-control a:hover {
	color: #066;
}
.leaflet-control a:active {
	background: #ff0;
	color: #00f;
}
.leaflet-control-minimap-toggle-display {
	background-image: url("../images/toggle.svg");
}

.leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-control-measure .leaflet-control-measure-toggle:hover {
	background-image: url(../images/rulers.png);
}

.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle:hover {
	background-image: url(../images/rulers_@2X.png);
}

.leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-control-measure .leaflet-control-measure-toggle:hover {
	background-image: url(../images/rulers.png);
}

.leaflet-control-measure a.start {
	background-image: url(../images/start.png);
}
.leaflet-control-measure a.cancel {
	background-image: url(../images/cancel.png);
}
.leaflet-control-measure a.finish {
	background-image: url(../images/check.png);
}

.leaflet-retina .leaflet-control-measure a.start {
	background-image: url(../images/start_@2X.png);
}
.leaflet-retina .leaflet-control-measure a.cancel {
	background-image: url(../images/cancel_@2X.png);
}
.leaflet-retina .leaflet-control-measure a.finish {
	background-image: url(../images/check_@2X.png);
}

.leaflet-measure-resultpopup a.zoomto {
	background-image: url(../images/focus.png);
}
.leaflet-measure-resultpopup a.deletemarkup {
	background-image: url(../images/trash.png);
}

.leaflet-retina .leaflet-measure-resultpopup a.zoomto {
	background-image: url(../images/focus_@2X.png);
}
.leaflet-retina .leaflet-measure-resultpopup a.deletemarkup {
	background-image: url(../images/trash_@2X.png);
}

.leaflet-control-pan-up {
	background-image: url(../images/pan-up.png);
}
.leaflet-control-pan-left {
	background-image: url(../images/pan-left.png);
}
.leaflet-control-pan-right {
	background-image: url(../images/pan-right.png);
}
.leaflet-control-pan-down {
	background-image: url(../images/pan-down.png);
}