<table>
  <tr>
    <th>&nbsp;</th>
    <th>Letzte Aktualisierung</th>
    <th>Datei</th>
  </tr>
  <tr id="overview">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="stadtgebiet">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="bezirke">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="ortsteile">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="stolpersteine">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="zusatzdaten">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="bezirkCount">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
  <tr id="ortsteilCount">
    <td class="description"></td>
    <td class="modified"></td>
    <td class="file"></td>
  </tr>
</table>

