<p>
  Es gibt sehr viele Informationsquellen, ich möchte nur einige wenige nennen
</p>
<ul>
  <li>
    <a target="_blank" href="https://www.bundesarchiv.de/gedenkbuch/">Gedenkbuch - Opfer der Verfolgung der Juden unter
      der nationalsozialistischen Gewaltherrschaft in Deutschland 1933-1945</a>
  </li>
  <li>
    <a target="_blank" href="http://www.ns-gedenkstaetten.de/nrw/bonn/besucherinformationen.html">Gedenkstätte für die
      Bonner Opfer des Nationalsozialismus - An der Synagoge e.V. </a> (leider immer noch unverschlüsselt).
  </li>
  <li>
    <a target="_blank" href="http://stolpersteine.eu">Stolpersteine.EU</a> (leider immer noch unverschlüsselt).
  </li>
  <li>
    <a target="_blank" href="https://www.ushmm.org/">United States Holocaust Memorial Museum</a>
  </li>
  <li>
    <a target="_blank" href="https://www.yadvashem.org/de.html">Yad Vashem - Die Behörde zum Gedenken an die Märtyrer
      und Helden des Holocaust</a>
  </li>
</ul>