<p>
  In dieser Tabelle habe ich zusammengefasst, wie ein Stolperstein aus meiner Sicht erfasst werden sollte.
</p>

<ul>
  <li>
    Die in gelb fett fett hervorgehobenen Attribute sollten genau so aussehen wie angegeben.
  </li>
  <li>
    Die in rot hervorgehobenen Attribute sollten genau so aussehen wie angegeben.
  </li>
</ul>

<table>
  <tr>
    <th>Attribut</th>
    <th>Wert</th>
  </tr>
  <tr class="literally">
    <td>artist_name</td>
    <td>Gunter Demnig</td>
  </tr>
  <tr class="literally">
    <td>historic</td>
    <td>memorial</td>
  </tr>
  <tr class="literally">
    <td>material:de</td>
    <td>Messing</td>
  </tr>
  <tr class="literally">
    <td>material</td>
    <td>brass</td>
  </tr>
  <tr class="literally">
    <td>memorial:type</td>
    <td>stolperstein</td>
  </tr>
  <tr class="literally">
    <td>memorial</td>
    <td>stolperstein</td>
  </tr>
  <tr>
    <td colspan="2">
      Bitte gebt sowohl <b>memorial</b> als auch <b>memorial:type</b> an, da das erste Attribut bei sehr
      vielen Gedenksteinen, -tafeln o.ä. verwendet wird, während das zweite bei Stolpersteinen sehr verbreitet
      ist.
    </td>
  </tr>
  <tr>
    <td>image</td>
    <td>Verweis auf ein Foto der Stolpersteins</td>
  </tr>
  <tr>
    <td>inscription</td>
    <td>Beschriftung des Stolpersteins</td>
  </tr>
  <tr>
    <td>memorial:text</td>
    <td>Beschriftung des Stolpersteins</td>
  </tr>
  <tr>
    <td>memorial:addr</td>
    <td><b>Historische</b> Adresse des Stolpersteins</td>
  </tr>
  <tr>
    <td>name</td>
    <td>Name des Opfers (ohne 'geborene', 'Dr. o.ä.)</td>
  </tr>
  <tr>
    <td>object:city</td>
    <td>Stadt des Verlegeorts</td>
  </tr>
  <tr>
    <td>object:country</td>
    <td>Land des Verlegeorts</td>
  </tr>
  <tr>
    <td>object:housenumber</td>
    <td>Hausnummer des Verlegeorts</td>
  </tr>
  <tr>
    <td>object:postcode</td>
    <td>Postleitzahl des des Verlegeorts</td>
  </tr>
  <tr>
    <td>object:street</td>
    <td>Straße in der sich der Stolperstein befindet</td>
  </tr>
  <tr>
    <td>person:date_of_birth</td>
    <td>Zeitpunkt der Geburt des Opfers</td>
  </tr>
  <tr>
    <td>person:date_of_death</td>
    <td>Zeitpunkt des Todes des Opfers</td>
  </tr>
  <tr>
    <td>start_date</td>
    <td>Zeitpunkt der Verlegung</td>
  </tr>
  <tr>
    <td colspan="2">
      Bitte gebt sowohl <b>inscription</b> als auch <b>memorial:text</b> an, da das erste Attribut bei sehr
      vielen Gedenksteinen, -tafeln o.ä. verwendet wird, während das zweite bei Stolpersteinen sehr verbreitet
      ist.
    </td>
  </tr>
  <tr class="beware">
    <td>object:conscriptionnumber</td>
    <td rowspan="9">
      Bitte verwendet diese Attibute <i>nur,</i> nachdem ihr euch vorher über sie informiert habt. Lest dazu bitte den
      Artikel <a target="_blank" href="https://wiki.openstreetmap.org/wiki/DE:Key:addr">DE:Key:addr</a> im
      OpenStreetMap-Wiki, denn für die Ortsangaben mit <b>object:</b> gelten genau die gleichen Vorgaben.
    </td>
  </tr>
  <tr class="beware">
    <td>object:district</td>
  </tr>
  <tr class="beware">
    <td>object:hamlet</td>
  </tr>
  <tr class="beware">
    <td>object:housename</td>
  </tr>
  <tr class="beware">
    <td>object:place</td>
  </tr>
  <tr class="beware">
    <td>object:province</td>
  </tr>
  <tr class="beware">
    <td>object:state</td>
  </tr>
  <tr class="beware">
    <td>object:subdistrict</td>
  </tr>
  <tr class="beware">
    <td>object:suburb</td>
  </tr>
</table>
