<p>
  <strong>Stolpersteine. Ein Kunstprojekt für Europa.</strong> ist der Name eines Projekt des Künstlers Gunter Demnig.
  Mit im Boden verlegten kleinen Gedenktafeln soll an das Schicksal der Menschen erinnert werden, die in der Zeit des
  Nationalsozialismus verfolgt, ermordet, deportiert, vertrieben oder in den Suizid getrieben wurden.
</p>
<p>
  Diese quadratischen Messingtafeln mit abgerundeten Ecken und Kanten sind mit von Hand eingeschlagenen Lettern
  beschriftet und werden von einem angegossenen Betonwürfel mit einer Kantenlänge von 96&nbsp;mm und einer Höhe von
  100&nbsp;mm getragen. Sie werden meist vor den letzten frei gewählten Wohnhäusern der NS-Opfer niveaugleich in das
  Pflaster bzw. den Belag des jeweiligen Gehwegs eingelassen. Die Stolpersteine sind das größte dezentrale Mahnmal der
  Welt.
</p>
<p>
  Für weitere Informationen zu den Stolpersteinen empfehle ich den <a target="_blank"
    href="https://de.wikipedia.org/wiki/Stolpersteine">sehr guten Wikipediaartikel.</a>
</p>
